---
layout: default
---

<h1 class="welcome"> Witamy </h1>
<h3 class="welcome"> na stronie Samorządu Uczniowskiego w ZSMEiE </h3>

<p class="welcome"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

{% for post in paginator.posts %}
	<article class="block post">
	<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
	<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
	{% include tags.html %}
	<p>{{ post.content | strip_html | truncatewords:30 }}</p>
	</article>
{% endfor %}

{% include pages.html %}