---
layout: default
---

<h1 class="welcome"> Znajdź nas w sieci! </h1>

<nav class="socials">
	<div class="social"><a href="{{ "/" | absolute_url }}"><i class="demo-icon icon-instagram in"></i></a></div>
	<div class="social"><a href="{{ "/" | absolute_url }}"><i class="demo-icon icon-facebook-squared fb"></i></a></div>
	<div class="social"><a href="{{ "/" | absolute_url }}"><i class="demo-icon icon-github-circled gh"></i></a></div>
</nav>
	
<h1 class="welcome"> Aktualności </h1>

{% include pages.html %}

{% for post in paginator.posts %}
	<article class="block post">
	<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
	<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time>
	{% include tags.html %}
	<p>{{ post.content | strip_html | truncatewords:30 }}</p>
	</article>
{% endfor %}

{% include pages.html %}