<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ "/css/normalize.css" | absolute_url }}">
	<link rel="stylesheet" href="{{ "/css/fontello.css" | absolute_url }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
	
	<script src="{{ "/assets/js/script.js" | absolute_url }}"></script>
	
	<link rel="icon" href="{{ "/assets/img/favicon.ico" | absolute_url }}"/>

	{% seo title=false %}
</head>