body
{
	text-align: center;
	font-family: Helvetica;
	font-size: 15px;
	
	background-image: url("../assets/img/bg/light-veneer.png");
	/* Background pattern from Subtle Patterns (toptal.com/designers/subtlepatterns/) */
}

main
{
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}

.main-width
{
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 1400px)
{
	body
	{
		font-size: 15px;
	}
	
	main
	{
		max-width: 70%;
	}
	
	.main-width
	{
		max-width: 70%;
	}
}

@media only screen and (max-width: 570px)
{
	.main-width
	{
		max-width: 100%;
	}
}

.block
{
	border-right: 1px solid $block-border;
	border-bottom: 1px solid $block-border;
	padding: 1% 1%;
	background-color: $background;
	margin-top: 2%;
	overflow-x: hidden;
}

.post
{
	text-align: left;
	padding: 0 2.5%;
}

img
{
	max-width: 100%;
	max-height: 100%;
}

.full-width
{
	width: 100%;
	margin: 0;
	padding: 0;
}

article > p
{
	padding: 0;
}

article > h2
{
	padding: 0;
	margin: 2% 0;
}

.welcome
{
	text-shadow: 2px 2px $lite-gray;
	font-family: Helvetica;
	color: $linkbrightest;
	clear: both;
}