$body-background: #f1f1f1 !default;
$body-foreground: #020202 !default;
$link: #4286f4;
$linkbrighter: #5998ff;
$linkbrightest: #70a6ff;
$block-border: Gainsboro;
$lite-gray: #fbfbfb;
$white: #ffffff;

/*
$body-background: #f1f1f1 !default;
$body-foreground: #020202 !default;
$link: #4286f4;
$linkbrighter: #5998ff;
$linkbrightest: #70a6ff;
$block-border: Gainsboro;
$lite-gray: #fbfbfb;
$white: #ffffff;
*/