$body-background: #f1f1f1 !default;
$body-foreground: #020202 !default;
$background: #f4f3bc;
$link: #4286f4;
$linkbrighter: #5998ff;
$linkbrightest: #70a6ff;
$headerbg: #fffc93;
$navbg: #fffca5;
$block-border: Gainsboro;
$lite-gray: #fbfbfb;
$white: #ffffff;
$in: #ff5ba7;
$gh: #565656;
$fb: #4286f4;