a:link 
{
	color: $link;
	text-shadow: 1px 1px $linkbrightest;
	text-decoration: none;
}

a:visited 
{
    color: $link;
}

a:hover 
{
    color: $linkbrightest;
}

a:active 
{
    color: $linkbrighter;
	text-decoration: none;
}