body > .menu
{
	font-family: Verdana;
	background-color: $navbg;
}

.menu > .main-width > ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu > .main-width > ul > li
{
	float: left;
	width: 20%;
	line-height: 5vh;
}

.menu > .main-width > ul > li a
{
	display: block;
}

.menu > .main-width > ul > li:hover
{
	background-color: rgba(0,0,0,0.1);
}

.menu > .main-width > ul > li:hover > a
{
	color: $linkbrightest;
}

.menu-button
{
	display: none;
	font-size: 1.5em;
	color: $linkbrightest;
}

.menu-button:hover
{
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
}

@media only screen and (max-width: 400px)
{
	.menu-button
	{
		display: block;
	}
	
	#menu
	{
		display: none;
	}
	
	.menu > .main-width > ul
	{
		margin: auto;
	}
	
	.menu > .main-width > ul > li
	{
		clear: both;
		width: 100%;
	}
}